<a href="https://colab.research.google.com/github/aman10-alt/lecture_1_2_/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def fun(string):
  return f"sambhavi is a good girl {string}"
def add (a1,a2):
  return a1+a2+10
  a=add(10,20)
  print(a)

In [8]:
class student:
  pass
one=student()
two=student()
one.name="riya"
one.standard=10
one.section="a"
two.section="b"
two.subjects=["computer","maths"]
print(two.subjects)

['computer', 'maths']

In [15]:
class student:
  no_of_student=5
  def __init__(self,aname,astandard,asection):
    self.name=aname
    self.standard=astandard
    self.section=asection
one=student("riya",10,"a")
two=student("sr",10,"b")
print(two.name)

sr

In [31]:
class student:
  no_of_students=5
 # _prot=2
  #__pri=100
  def __init__(self,aname,astandard,asection):
    self.name=aname
    self.standard=astandard
    self.section=asection
  def detail(self):
    return f"Name is{self.name},Standard is{self.standard}"
one=student("reya",10,"a")
#print(one._prot)
class teacher (student):
  no_of_working_hours=12
  def __init__(self,aname,astandard,asection,asalary):
    self.name=aname
    self.standard=astandard
    self.section=asection
    self.slary=asalary
  def printsub(self):
    return f"Name of the teacher is{self.name},Standard of the function is{self.standard}"
three=teacher("tina",10,"a",4577)
four=teacher("rinki",10,"d",3400)
#print(three.name)
print(three.no_of_students)

5